.ProductPage {
    background-color: rgb(143, 233, 233);
}

body {
    background-color: #eee;
    height: 100vh;
    width: 100vw;
}

// main {
//     width: 375px !important;
//     height: 812px !important;
// }