:root {
    --button-background: #f26323;
    --button-color: #ffffff;
}

.Button {
    text-decoration: none !important; // because we never need underlines in buttons

    border-radius: 0;
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: var(--button-padding);
    color: var(--button-color);
    background-color: var(--button-background);
    transition-property: background-color, color;
    transition-timing-function: ease-out;
    transition-duration: .25s;
    cursor: pointer;
    height: 40px;

    &:not([disabled]) {
        &:hover,
        &:focus {
            @include after-mobile {
                border-color: var(--button-hover-border);
                background-color: var(--button-hover-background);
                color: var(--button-hover-color);
            }
        }
    }

    &[disabled] {
        opacity: .25;
        cursor: not-allowed;
    }

    &_hollow {
        border-color: var(--button-background);
        color: var(--button-background);
        background: transparent;
    }

    + button,
    + .Button {
        margin-left: 1rem;
    }

    &_likeLink {
        background-color: transparent;
        color: var(--button-background);
        text-transform: none;
        text-align: start;
    }
}