:root {
    --overlay-background: #fff;
}

.Overlay {
    pointer-events: none;
    z-index: -1;

    background-color: var(--overlay-background);
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    overflow: scroll;
    padding: 1rem;
    transform: translate3d(0, -100%, 0);
    transition: transform 200ms ease-in;
    will-change: transform;

    &_isVisible {
        z-index: 10;
        pointer-events: all;
        transform: translate3d(0, 0, 0);
    }
}
