.Header {

  &-Nav {
    height: 50px;
    padding-bottom: 15px;
    display: flex;
    align-items: flex-end;
    background-color: red;
  }

  &-Nav {
    button {
      display: none;
    }

    [class*="_visible"] {
      display: inline-block;
    }
  }

  &-Section {
    &_left {
      flex: 1 20%;
      display: flex;
      margin-left: 15px;
    }

    &_middle {
      flex: 1 20%;
      font-size: 14px;
      text-align: center;
    }

    &_right {
      flex: 1 20%;
      display: flex;
      justify-content: flex-end;
      margin-right: 15px;
    }
  }
}