.Header {
  height: 50px;
  &-Wrapper {
    display: flex;
    align-items: flex-end;
    background-color: red;
    margin-bottom: 10px;
    height: 70%;
  }

  &-Middle {
    flex: 1 20%;
    font-size: 14px;
    text-align: center;
  }

  &-LeftSide {
    flex: 1 20%;
    display: flex;
    margin-left: 15px;
  }

  &-RightSide {
    flex: 1 20%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }

  &-Icon {
    width: 24px;
    text-align: center;
  }
}