@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-5px);
    }
}

@mixin iOS {
    @supports (-webkit-overflow-scrolling: touch) {
        @content;
    }
}

.DragBar {
    position: relative;
    width: 100%;
    height: 100%;

    &-Draggable {
        --draggable-y: 0;
        --open-bounce-speed: 500ms;

        position: fixed;
        z-index: 10;
        bottom: 0;
        width: 100%;
        bottom: var(--draggable-y);
        will-change: bottom;
        transition: 100ms bottom;
        min-height: 100%;
        transform: translateY(calc(100% - 180px));

        @include iOS {
            transform: translateY(calc(100% - 204px));
        }

        &::after {
            content: '';
            position: absolute;
            background: #fff;
            height: calc(100% - 50px);
            width: 100%;
            left: 0;
            top: 50px;
            z-index: 1;
        }

        > * {
            padding: 20px;
            z-index: 2;
        }
    }

    &-Details {
        overflow: scroll;
        max-height: calc(var(--window-height) - 240px);
        transition: max-height 100ms;
        will-change: max-height;

        > *:last-of-type {
            padding-bottom: 20px;
        }
    }

    &-Header {
        padding-top: 70px; // 20px + 50px (draggable are offset)

        @include iOS {
            padding-bottom: 44px; // 44px (safari non-clickable area if navigation hidden)
        }

        &::after {
            content: '';
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
            margin: auto;
            width: 20px;
            height: 4px;
            border-radius: 5px;
            background: #fff;
            will-change: transform;
            animation: bounce var(--open-bounce-speed) infinite alternate;
        }
    }

    &-Heading {
        font-size: 18px;
        margin-bottom: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        line-height: 1;
    }

    &-Price {
        font-size: 15px;
        display: block;
        line-height: 1;
    }

    &-CTA {
        --button-padding: 13px 23px;

        margin-top: 11px;
        font-size: 13px;
    }
}
